    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">E-Shop</h1>
        <div class="list-group">
          <a href="#" class="list-group-item" ng-repeat="c in categories">{{c.name}}</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9" style="margin-top: 20px">

		<div>
			
		</div>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" ng-repeat="p in products">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{p.name}} [{{p.category.id}}]</a>
                </h4>
                <h5>{{p.price}} €</h5>
                <p class="card-text">{{p.description}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->